@using AvenueEntrega.I18N
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.Views_Mapa_SucessoPartialView_Button_Fechar</span></button>
            <h3 id="myModalLabel" class="modal-title">&nbsp;@ViewBag.Title</h3>
        </div>

        <div id="conteudo-modal" class="text-center">
            @if (!string.IsNullOrEmpty(ViewBag.MessageType))
            {
            <div class="alert @ViewBag.MessageType fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @ViewBag.Message
            </div>
            }
            else
            {
            <h4>Sucesso.</h4>
            }
        </div>
        <div id="myModalBody" class="modal-body">

        </div>
        <div class="modal-footer form-horizontal">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">@Resources.Views_Mapa_SucessoPartialView_Button_Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
